*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.login{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    height: 4rem;
    margin-left: 1rem;
}

.formulario{
    background-color: rgba(128, 128, 128, 0.658);
    width: 40%;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    height: 60vh;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.700);

}

.campo{
    margin-bottom: 1rem;
}

.campo:first-child{
    margin-top: 2rem;
}

.campo input{
    background-color: rgb(238, 237, 237);
    border: 0;
    border-radius: 4PX;
    padding: 0.3rem;
    width: 80%;
    text-align: center;
}

.boton-primary{
    background-color: #0E8CAD;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 80%;

}

.boton-primary:hover{
    background-color: #06495a;
    transition: 0.3s;
}

.boton-volver{
    text-decoration: none;
    color: white;
    position: fixed;
    top: 12%;
    left: 67%;
    font-weight: bolder;
}
.tyc{
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: start;
    margin-bottom: 1rem;
}
#tyc-campo{
    width: min-content;
}

span{
    color: rgb(25, 25, 148);
}

span:hover{
    text-decoration: underline;
}

.icono{
    font-size: 3.5rem;
    color: #0E8CAD;
    margin-bottom: 5px;
}
.hero{
    min-height: 600px;
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)),url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1{
    color: white;
}
footer div span{
    color: white;
    }
.boton-modal{
    font-size: 1.5rem;
    background-color: white;
    border:none;
}
.boton-modal::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #0E8CAD;
    transition: width .3s;
}

.boton-modal:hover::after {
    width: 100%;
    transition: width .3s;
}

<<<<<<< HEAD
#carousel{
 background-color: #06495a;
}
.carousel-inner{
    width: 60%;
    margin: auto;
    
}
#carousel img{
    width: 15rem !important;
    height: 10rem;
    image-rendering: auto;
=======
.ocultar {
    display: none;
}
 
.mostrar {
    display: block;
>>>>>>> 42fbb76c38caf929344e3c78875caabd77e174e8
}